<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="$(find DRC)/worlds/drchubo.world"/>

  <!-- start gazebo with the DRCHubo -->
  <include file="$(find DRC)/launch/drchubo_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
    <arg name="gzworld" value="$(arg gzworld)"/>
  </include>

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find drchubo)/data/models/drchubo-master/robots/drchubo.urdf"/>
  
</launch>
