<launch>

  <arg name="gzname" default="gazebo"/>
  <arg name="gzworld" default="$(find DRC)/worlds/drchubo_rubble.world"/>
  <arg name="extra_gazebo_args" default="" />

  <!-- Gazebo -->
  <node name="gazebo" pkg="DRC" type="run_$(arg gzname)" args="$(arg gzworld) $(arg extra_gazebo_args)" output="screen" />

  <!-- Spacenav  -->
  <node respawn="true" pkg="spacenav_node" 
   type="spacenav_node" naem="drchubo_spacenav" >
    <remap from="spacenav/joy" to="spacenav/joy" />
  </node>
</launch>
